@using Tech_Shop.Models
@model DeviceListViewModel



    <h3>Распродажа Имбы</h3>
    <p>@Html.ActionLink("Кнопка которая добавляет устройство", "Create")</p>
    <p>@Html.ActionLink("Кнопка которая переходит на список категорий", "Category")</p>
    

    <p>@Model.Devices.First().Category.CategoryAttributes.First().AttributeName</p>
    <p>@Model.Devices.First().AttributeValues.First().Value</p>
    <form method="get">
        <div class="form-inline">
            <label class="control-label">Название: </label>
            @Html.DropDownList("name", Model.Names as SelectList,
                        htmlAttributes: new { @class = "form-control" })

            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <table>
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Короткое описание</th>
            <th>Длинное описание</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Devices)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "EditDevice", new { id = item.DeviceId }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.DeviceId })
                </td>
            </tr>
        }
    </table>                                                  


