@model Tech_Shop.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div style="margin-bottom: 5%">
        <h4>Change your account settings</h4>
        <hr />
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword", routeValues: new { }, htmlAttributes: new { @class = "btn btn-secondary" });
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword", routeValues: new { }, htmlAttributes: new { @class = "btn btn-success" })
        }
        @*
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count
            @Html.ActionLink("Manage", "ManageLogins")
        </dd>
        *@
    </div>
    <div>
        <h4>Manage Your Purchases</h4>
        <hr />
        <p>Show all purchases made from this account:</p>
        @Html.ActionLink("View Purchases", "Purchases", "Manage", new { }, new { @class = "btn btn-primary" })
    </div>
</main>