@model Tech_Shop.Models.ProductListWithQ

<h2>Index</h2>
<p>
    @if (Model.IsAdmin)
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Devices.First().DeviceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Devices.First().Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Devices.First().Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Devices.First().Price)
        </th>
        <th style="width: 200px;">Quantity</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Devices)
    {
        var cartItem = Model.CartItems.SingleOrDefault(ci => ci.DeviceId == item.DeviceId);
        var wishlistItem = Model.WishItems.SingleOrDefault(ci => ci.DeviceId == item.DeviceId);
        <tr>
            <td>
                @Html.DisplayFor(model => item.DeviceName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Description)
            </td>
            <td>
                @Html.DisplayFor(model => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                @if (cartItem != null)
                {
                    using (Html.BeginForm("RemoveFromCart", "Products", FormMethod.Post, new { @class = "share-button" }))
                    {
                        @Html.Hidden("id", item.DeviceId)
                        <button type="submit" class="btn btn-outline-danger">-</button>
                    }
                    <h5 class="share-button">@cartItem.Quantity</h5>
                    using (Html.BeginForm("AddToCart", "Products", FormMethod.Post, new { @class = "share-button" }))
                    {
                        @Html.Hidden("id", item.DeviceId)
                        <button type="submit" class="btn btn-outline-success">+</button>
                    }
                }
                else
                {
                    using (Html.BeginForm("AddToCart", "Products", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        @Html.Hidden("id", item.DeviceId)
                        <button type="submit" class="btn btn-secondary">Add to cart</button>
                    }
                }

                @if (wishlistItem != null)
                {
                    using (Html.BeginForm("RemoveFromWishlist", "Products", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        @Html.Hidden("id", item.DeviceId)
                        <button type="submit" class="nav-link">
                            <i class="fas fa-heart"></i> Remove
                        </button>
                    }
                }
                else
                {
                    using (Html.BeginForm("AddToWishlist", "Products", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        @Html.Hidden("id", item.DeviceId)
                        <button type="submit" class="nav-link">
                            <i class="far fa-heart"></i> I want this
                        </button>
                    }
                }
                </td>
            <td>

                @if (Model.IsAdmin)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.DeviceId }, new { @class = "form-inline" })
                    <span>|</span>
                    @Html.ActionLink("Details", "Details", new { id = item.DeviceId }, new { @class = "form-inline" })
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.DeviceId }, new { @class = "form-inline" })
                }
            </td>
        </tr>
    }
</table>

<style>

    .quantity-input {
        width: 50px; /* Adjust width as needed */
        margin: 0 10px; /* Adjust margin as needed */
    }

    .share-button {
        display: inline-block;
    }
</style>