@model Tech_Shop.Models.ProductListWithQ

<h1>Список товаров</h1>
<p>
    @if (Model.IsAdmin)
    {
        @Html.ActionLink("Create New", "Create")
        <span>|</span>
        @Html.ActionLink("Configure Categories", "List", "Category")
    }
</p>

@using (Html.BeginForm("Index", "Products", FormMethod.Post))
{
    <div style="margin: 2% auto 1% 5% ">
        <h5>Поиск</h5>
        <div class="col">
            <div class="input-group">
                @Html.TextBox("searchInput", null, new { id = "searchInput", placeholder = "Enter your search query", @class = "form-control" })
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary" style="margin-left: 10px">Search</button>
                </div>
            </div>
        </div>
    </div>
}
<table class="table">
    <tr>
        <th style="text-align: center;">
            Название
        </th>
        <th style="text-align: center;">
            Описание
        </th>
        <th style="text-align: center;">
            Категория
        </th>
        <th style="text-align: center;">
            Цена
        </th>
        <th style="width: 200px;"></th>
        <th></th>
    </tr>

    @foreach (var item in Model.Devices)
    {
        var cartItem = Model.CartItems.SingleOrDefault(ci => ci.DeviceId == item.DeviceId);
        var wishlistItem = Model.WishItems.SingleOrDefault(ci => ci.DeviceId == item.DeviceId);
        <tr>
            <td class="centered-cell">
                @Html.DisplayFor(model => item.DeviceName)
            </td>
            <td class="centered-cell">
                @Html.DisplayFor(model => item.Description)
            </td>
            <td class="centered-cell">
                @Html.DisplayFor(model => item.Category.CategoryName)
            </td>
            <td class="centered-cell">
                @Html.DisplayFor(model => item.Price)
            </td>
            <td>
                @if (cartItem != null)
                {
                    using (Html.BeginForm("RemoveFromCart", "Products", FormMethod.Post, new { @class = "share-button" }))
                    {
                        @Html.Hidden("id", item.DeviceId)
                        <button type="submit" class="btn btn-outline-danger">-</button>
                    }
                    <h5 class="share-button">@cartItem.Quantity</h5>
                    using (Html.BeginForm("AddToCart", "Products", FormMethod.Post, new { @class = "share-button" }))
                    {
                        @Html.Hidden("id", item.DeviceId)
                        <button type="submit" class="btn btn-outline-success">+</button>
                    }
                }
                else
                {
                    using (Html.BeginForm("AddToCart", "Products", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        @Html.Hidden("id", item.DeviceId)
                        <button type="submit" class="btn btn-secondary">Add to cart</button>
                    }
                }

                @if (wishlistItem != null)
                {
                    using (Html.BeginForm("RemoveFromWishlist", "Products", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        @Html.Hidden("id", item.DeviceId)
                        <button type="submit" class="nav-link">
                            <i class="fas fa-heart"></i> Remove
                        </button>
                    }
                }
                else
                {
                    using (Html.BeginForm("AddToWishlist", "Products", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        @Html.Hidden("id", item.DeviceId)
                        <button type="submit" class="nav-link">
                            <i class="far fa-heart"></i> I want this
                        </button>
                    }
                }
            </td>
            <td>

                @if (Model.IsAdmin)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.DeviceId }, new { @class = "form-inline" })
                    <span>|</span>
                    @Html.ActionLink("Details", "Details", new { id = item.DeviceId }, new { @class = "form-inline" })
                    <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.DeviceId }, new { @class = "form-inline" })
                }
            </td>
        </tr>
    }
</table>

<style>
    .centered-cell {
        text-align: center; /* Center horizontally */
        vertical-align: middle; /* Center vertically */
    }

    .quantity-input {
        width: 50px; /* Adjust width as needed */
        margin: 0 10px; /* Adjust margin as needed */
    }

    .share-button {
        display: inline-block;
    }
</style>