@using Tech_Shop.Models
@model DeviceListViewModel



    <h3>Распродажа Имбы</h3>
    <p>@Html.ActionLink("Кнопка которая добавляет", "Create")</p>

    <form method="get">
        <div class="form-inline">
            <label class="control-label">Название: </label>
            @Html.DropDownList("name", Model.Names as SelectList,
                        htmlAttributes: new { @class = "form-control" })

            <input type="submit" value="Фильтр" class="btn btn-default" />
        </div>
    </form>
    <table>
        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>короткое описание</th>
            <th>Длинное описание</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Devices)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.shortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>                                                  


